#modal {
    position: fixed;
    top: 100px;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
}

#modal-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

#modal-content {
    position: absolute;
    display: flex;
    background-color: white;
    border-radius: 10px;
    margin: 20px;
    flex-direction: column;
    font-family: 'Nunito', sans-serif;
    align-items: center;
    width: fit-content;
    height: fit-content;
    z-index: 2;
}

